// palette: https://coolors.co/palette/669900-99cc33-ccee66-006699-3399cc-990066-cc3399-ff6600-ff9900-ffcc00

$primary: #3399cc;
$secondary: #ff9900;
$success: #669900;
$warning: #ff6600;

$black: #090909;
$grey: rgba(black, 0.25);

$bg-color-dark: #242424;
$bg-color-light: #f9f9f9;
