@function get-font-size($multiplier) {
	@return calc(15px + $multiplier);
}

$font-size-small: get-font-size(0.2vw); // ??
$font-size-base: get-font-size(0.390625vw); // 20px?
$font-size-base-plus: get-font-size(0.6vw); // ???
$font-size-medium: get-font-size(1vw); // ???
$font-size-large: get-font-size(1.6vw); // 32px?
$font-size-extra-large: get-font-size(2.6vw); // 40px?
$font-size-massive: get-font-size(3.7vw); // 64px?
$font-size-enormous: get-font-size(6.7vw); // ???
