@use './fonts';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter';
	font-feature-settings: 'cpsp', 'frac', 'zero', 'cv02', 'cv03', 'cv04', 'cv05',
		'cv06', 'cv08', 'cv09';
	background-color: $bg-color-light;
	color: $black;
	font-size: $font-size-base;
}

a {
	color: $primary;
	text-decoration: none;
}

hr {
	width: 25%;
	margin: 2rem auto;
	color: $grey;
	border-radius: 50%;
}

* {
	box-sizing: border-box;
}

:focus-visible {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 24px 0px,
		rgba(61, 71, 82, 0.1) 0px 4px 20px 0px,
		rgba(0, 127, 255, 0.5) 0px 0px 0px 5px;
	border-radius: 0.5rem;
	outline: currentcolor none medium;
}
